[submodule "blog/themes/terminal"]
	path = blog/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "blog/themes/hugo-bearblog"]
	path = blog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
